<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SSCRA</title>
        <meta http-equiv="pragma" content="no-cache" />
        <!-- add links to css available locally -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/dataTables/datatables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
        <style>
            /*Set the row height to the viewport*/
            .row-height {
                height: 75vh;
            }
        
            /*Set up the columns with a 100% height, body color and overflow scroll*/
        
            .left {
                
                height: 100%;
                overflow-y: scroll;
            }
        
            .right {
                height: 100%;
                overflow-y: scroll;
            }
        
        
            /*Remove the scrollbar from Chrome, Safari, Edge and IE
            ::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
        */
            * {
                -ms-overflow-style: none !important;
            }
        </style>
        <!-- add script sources -->
       <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
        <script type="text/javascript" src="/javascripts/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/dataTables/datatables.min.js"></script>
        <!-- Load the plugin bundle. -->
  <link rel="icon" type="image/png" sizes="30x30" href="/images/favicon.png">
</head>
<body>
  <% include ../header.ejs %>
  <div class="container-fluid">
    <div class="row row-height">
        <div class="col-sm-2 left">
            <% include ./sidebar.ejs %>
        </div>
        <div class="col-sm-10">
                <%- body %>
        </div>
    </div>
  </div>
  <% include ../footer.ejs %>
</body>
</html>