<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script>
        $(document).ready(function () {
            $('#reportsdata').DataTable({
                "lengthChange": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'lrfBtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                scrollY: '50vh',
                "scrollX": true,
                scrollCollapse: true
            });
        });
</script>
<div class="container">
    <h5>
        <%= dataTitle %>
    </h5>
    <% if(err){ %>
        <br />
        <div class="alert alert-info" role="alert">
            <%= err %>
        </div>
    <%} else if (data) { %>
    <table class="table table-striped table-bordered display nowrap" style="width:100%" id="reportsdata">
        <thead>
            <tr>
                <th scope="col">#</th>
                <% for (let i = 0; i < dataHeadings.length; i++) {%>
                <th scope="col">
                    <%= dataHeadings[i] %>
                </th>
                <%}%>
            </tr>
        </thead>
        <tbody>
            <%for (let j = 0; j < data.length; j++) {%>
            <tr>
                <th scope="row">
                    <%= j+1 %>
                </th>
                <%for(var k = 0; k < dataKeys.length; k++){ %>
                <td>
                    <%= data[j][dataKeys[k]] %>
                </td>
                <%}%>
                
                <% if(tot) {
                    var sum = 0
                for(var k = 0; k < tot.length; k++){ 
                    sum = sum + parseFloat(data[j][tot[k]])
                }%>
                <td>
                    <%= sum %>
                </td>
                <%}%>
            </tr>
            <%}%>
        </tbody>
    </table>
    <%}%>
    </div>
