<script>
	$(document).ready(function() {
    $('#reportsdata').DataTable();} );
</script>
<div class="container">
	<h4>
        File Uploads
	</h4>
	<%if(typeof datamsg != undefined && datamsg != ''){%>
		<br/>
		<div class="alert alert-success col-md-6" role="alert">
		<%= datamsg %>
		</div>
		<%}%>
			<% if(uploads != null && uploads.length > 0){%>
			<table class="table table-striped table-bordered" style="width:100%" id="reportsdata">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">File Name</th>
						<th scope="col">Upload Time</th>
						<%if(user['ROLE']=='admin'){%>
							<th scope="col">Status</th>	
						<%}%>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody>
					<%for (let j = 0; j < uploads.length; j++) {%>
						<tr>
							<th scope="row"><%= j+1 %></th>
							<td><%= uploads[j]['NAME'] %></td>
							<td><a class="nav-link" href="/reports/<%= uploads[j]['UPLOAD_ID'] %>/">
                                <%= uploads[j]['FILENAME'] %>
								</a></td>
							<td><%= uploads[j]['UPLOAD_TIME'] %></td>
							<%if(user['ROLE']=='admin'){%>
								<td><a class="nav-link" href="/reports/delete/<%= uploads[j]['UPLOAD_ID'] %>">
									<button type="button" class="btn btn-danger">Delete</button>
								</a></td>
							<%}%>
							<td><%= uploads[j]['STATUS'] %></td>
					<%}%>
				</tbody>
			</table>
			<%} else {%>
				<br/>
				<div class="alert alert-danger col-md-6" role="alert">
					Seems there are no file uploads available, be the first to upload a report
				</div>
			<%}%>
</div>