<div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Reports</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
        </svg>
    </h6>
    <ul class="nav flex-column">
        <%if(reports){
        for(var i = 0; i < reports.length; i++){%>
        <li class="nav-item">
            <a class="nav-link" href="/reports/<%=reportId%>/generate/<%=reports[i]%>">
                <%=reports[i]%>
            </a>
        </li>
        <%}}%>
        <%if(adminreports){
            for(var i = 0; i < reports.length; i++){%>
            <li class="nav-item">
                <a class="nav-link" href="/reports/<%=reportId%>/generate/<%=reports[i]%>">
                    <%=reports[i]%>
                </a>
            </li>
            <%}}%>
    </ul>
<% if(user['ROLE'] == 'admin'){%>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Sheet Data</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
            <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
            <polyline points="2 17 12 22 22 17"></polyline>
            <polyline points="2 12 12 17 22 12"></polyline>
        </svg>
    </h6>
    <ul class="nav flex-column mb-2">
        <%if(sheets){
            for(var i = 0; i < sheets.length; i++){%>
        <li class="nav-item">
            <a class="nav-link" href="/reports/<%=reportId%>/sheet/<%=sheets[i]%>">
                <%=sheets[i]%>
            </a>
        </li>
        <%}}%>
    </ul>
    <%}%>
</div>