<div class="card">
	<div class="card-header">
		<h3 class="card-title">User</h3>
	</div>
	<div class="card-body">
		<form action="/manageusers/editUser/<%=  newUser['USERNAME'] %>" method="post" id="editUser">
			<div class="row">
				<div class="col-md-5">
					<div class="input-group">
						<label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
						<input type="text" class="form-control" placeholder="Username" name="username" value="<%=  newUser['USERNAME'] %>" required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<label for="inputFName" class="col-sm-3 col-form-label">First Name</label>
						<input type="text" class="form-control" placeholder="First name" name="first_name" value="<%=  newUser['FIRST_NAME'] %>" required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5">
					<div class="input-group">
						<label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
						<input type="password" class="form-control" placeholder="********" name="password" value=""  disabled>
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<label for="inputLName" class="col-sm-3 col-form-label">Last Name</label>
						<input type="text" class="form-control" placeholder="Last name" name="last_name" value="<%=  newUser['LAST_NAME'] %>" required>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5">
					<div class="input-group">
						<label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
						<input type="email" class="form-control" placeholder="email@domain.com" name="email" value="<%=  newUser['EMAIL'] %>" required>
					</div>
				</div>
				<div class="col-md-5">
					<label for="inputRole" class="col-sm-3 col-form-label">User Role</label>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="admin" required> Admin
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="user" required> User
						</label>
					</div>
				</div>
			</div>
			<% if(typeof err != undefined && err != ''){%>
			<br>
			<div class="alert alert-danger col-md-6" role="alert">
				<%=err%>
			</div>
			<%} else {%>
			<br><br>
			<%}%>
			<div class="row">
					<div class="col-md-5"></div>
				<button type="submit" class="btn btn-info">Update</button>
			</div>
		</form>
	</div>
</div>