<% if(length < 1){ %>
<div class="container col-md-6"></div>
    <br />
    <div class="alert alert-warning" role="alert">
        <p>The url you are loading is either incorrect or no longer seems to be active. Please contact administrator for assistance.</p>
    </div>    
</div>
<%} else {%>
<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Register</h3>
            <p>Please enter below details and submit to register as new user</p>
        </div>
        <div class="card-body">
            <form action="/manageusers/register/<%=registerId%>" method="post" id="addUser">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder="Username" name="username" value=""
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="inputFName" class="col-sm-3 col-form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="First name" name="first_name" value="<%=userInfo['fname']%>"
                                required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password" value=""
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label for="inputLName" class="col-sm-3 col-form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last name" name="last_name" value="<%=userInfo['lname']%>"
                                required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5"></div>
                    <button type="submit" class="btn btn-info">Complete Registration</button>
                </div>
            </form>
        </div>

    </div>
    <% if(typeof err != undefined && err != ''){%>
        <br>
        <div class="alert alert-danger col-md-6" role="alert">
            <%=err%>
        </div>
    <%}%>
    <%}%>
</div>