<script>
	$(document).ready(function() {		
		document.getElementById("emails").multiple = true;
    $('#userdata').DataTable();} );
</script>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<form action="/manageusers/addUser">
				<button type="submit" class="btn btn-outline-primary">Add New User</button>
			</form>
		</div>
		<div class="col-md-6">
			<form action="/manageusers/sendInvites" method="POST">
				<div class="input-group">
					<input type="email" class="form-control" placeholder="email1@domain.com, email1@domain.com..." name="emails" id="emails" value="" required>
					<button type="submit" class="btn btn-primary">Send invitations!</button>
				</div>
			</form>
		</div>
	</div>
	<div>
		<% if(typeof msg != undefined && msg != ''){%>
			<br/>
		<div class="alert alert-success col-md-6" role="alert">
			<%=msg%>
		</div>
		<%} else if(typeof err != undefined && err != '') {%>
			<br/>
		<div class="alert alert-danger col-md-6" role="alert">
			<%=err%>
		</div>
		<%} else {%><br>
		<%}%>
	</div>
			<% if(users != null && users.length > 0){%>
			<table class="table table-striped table-bordered" style="width:100%" id="userdata">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">Name</th>
						<th scope="col">Role</th>
						<th scope="col">View/Update</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<%for (let j = 0; j < users.length; j++) {%>
						<tr>
							<th scope="row"><%= j+1 %></th>
							<td><%= users[j]['USERNAME'] %></td>
							<td><%= users[j]['FIRST_NAME'] + ", " + users[j]['LAST_NAME'] %></td>
							<td><%= users[j]['ROLE'] %></td>
							<td><a class="nav-link" href="/manageusers/user/<%= users[j]['USERNAME'] %>">
									<button type="button" class="btn btn-warning">View/Edit</button>
								</a></td>
								<td><a class="nav-link" href="/manageusers/delete/<%= users[j]['USERNAME'] %>">
										<button type="button" class="btn btn-danger">Delete</button>
									</a></td>
							  </tr>
					<%}%>
				</tbody>
			</table>
			<%} else if(typeof datamsg != undefined && datamsg != ''){
			console.log(datamsg)%>
			<%}%>
</div>