<div class="container">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3>Upload New File</h3>
            </div>
            <div class="card-body">
                <p>Please select a file upload</p>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <input type="file" class="form-control-file" name="fileupload" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
        <% console.log("Message: "+message)
                if(typeof message != undefined && message != ''){%>
        <br/>
        <div class="alert alert-info" role="alert">
            <%=message%>
        </div>
        <% message = ''} %>
    </div>
</div>