<footer class="footer">
    <div class="container">
        <p>© 2018 Northwest Missouri State University. All rights reserved.</p>
        <!--<span class="text-muted"></span>-->
    </div>
</footer>