<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #18521c;">
  <a class="navbar-brand" href="/"><img alt="" src="/images/brand.png" width="32" height="32">SSCRA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if(typeof user != 'undefined' && user != null){%>
        <%if(user['ROLE'] == 'admin'){%>
          <li class="nav-item"><a class="nav-link" href="/upload">Upload File</a></li>
        <%}%>
        <li class="nav-item"><a class="nav-link" href="/reports">Reports</a></li>
        <%if(user['ROLE'] == 'admin'){%>
          <li class="nav-item"><a class="nav-link" href="/manageusers/users">Manage Users</a></li>
        <%}%>
      <%}%>
    </ul>
    <ul class="nav nav-pills navbar-nav navbar-right">
      <%if(typeof user != 'undefined' && user != null){%>
        <%if(user['ROLE'] == 'admin'){%>
          <li class="nav-item"><a class="nav-link" href="/profile">Admin Profile</a></li>
        <%} else {%>
          <li class="nav-item"><a class="nav-link" href="/profile">User Profile</a></li>
        <%}%>
        <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      <%} else{%>
        <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
      <%}%>
    </ul>
  </div>
</nav>
<br><br>