<div class="jumbotron">
    <h3 class="display-6">Hello,
        <%= user['FIRST_NAME']%>!
    </h3>
    <hr class="my-6">
    <p>
        You have logged into Student sucess and retention center reporting application. You will be able access reports
        by selecting a file upload from Reports page.
    <%if(user['ROLE']=='admin'){%>
        As an admin user you will be able to upload new activity files, and manage another users. 
    </p>
    <%}%>
</div>
<div class="row">
    <div class="col-md-6">
        <h3> Recently accessed reports </h3>
        <% if(recentErr){ %>
        <br />
        <div class="alert alert-info" role="alert">
            Unble to retrive data at this moment. Please reload this page or contact adminstrator if the issue still persists.
        </div>
        <%} else if (recent) { %>
        <table class="table table-striped table-bordered" style="width:100%" id="reportsdata">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File/Report</th>
                    <th scope="col">Accessed at</th>
                </tr>
            </thead>
            <tbody>
                <%for (let j = 0; j < recent.length; j++) {%>
                <tr>
                    <th scope="row"> <%= j+1 %> </th>
                    <td><a class="nav-link" href="<%= recent[j]['URL'] %>"> <%= recent[j]['TITLE'] %></a> </td>
                    <td> <%= recent[j]['UPDATE_TIME'] %> </td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <%}%>
    </div>
    <% if(user['ROLE'] == 'admin') {%>
    <div class="col-md-6">
        <h3> My Recent uploads </h3>
        <% if(myErr){ %>
        <br />
        <div class="alert alert-info" role="alert">
            Unble to retrive data at this moment. Please reload this page or contact adminstrator if the issue still
            persists.
        </div>
        <%} else if (myUploads) { %>
        <table class="table table-striped table-bordered" style="width:100%" id="reportsdata">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Uploaded at</th>
                </tr>
            </thead>
            <tbody>
                <%for (let j = 0; j < myUploads.length; j++) {%>
                <tr>
                    <th scope="row">
                        <%= j+1 %>
                    </th>
                    <td><a class="nav-link" href="/reports/<%= myUploads[j]['UPLOAD_ID']%>">
                            <%= myUploads[j]['FILENAME'] %></a> 
                    </td>
                    <td>
                        <%= myUploads[j]['UPLOAD_TIME'] %>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <%}%>
    </div>
    <%}%>
    </div>