<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Forgot Password</h3>
            <p>Please enter your username or email associated with your account and submit details to initiate password reset.</p>
        </div>
        <div class="d-flex justify-content-center card-body">
            <form action="/auth/forgotPassword" method="post" id="reset">
                <div class="form-group row">
                    <div> <input type="text" class="form-control" name="username" placeholder="Username or Email" required> </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Submit</button> 
                </div>
                <div class="form-group row">
                    <a href="/auth/login" >Or back to login!</a>
                </div>
            </form>
        </div>
    </div>
    <% if(typeof message != undefined && message != ''){ %>
        <br />
        <div class="alert alert-warning" role="alert">
            <%=message%>
        </div>
    <%}%>
</div>