<div class="container col-md-6">
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Login</h3>
        <p>Please enter your username and password</p>
    </div>
    <div class="d-flex justify-content-center card-body">
            <form action="/auth/login" method="post" id="Login">
                <div class="form-group row">
                    <div >
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                </div>  
                <div class="form-group row">
                    <div >
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="yes" name="remember">
                    <label class="form-check-label" for="remember"> Remember Me </label>
                </div>
                <div class="forgot">
                    <a href="/auth/forgotPassword">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
    </div>
</div>
<% console.log("Message: " + message + "  !!!   Success: " + succ)
if(typeof message != undefined && message != ''){%>
    <br/>
    <div class="alert alert-danger" role="alert">
    <%=message%>
    </div>
<%} else if(typeof succ != undefined && succ != ''){%>
    <br/>
    <div class="alert alert-success" role="alert">
    <%=succ%>
    </div>
    <%}%>
</div>