<h3>My Profile</h3>
        <% if(typeof msg != undefined && msg != ''){%>
		<div class="alert alert-success col-md-6" role="alert"><%=msg%></div>
		<% msg = '' } else if(typeof err != undefined && err != '') {%>
		<div class="alert alert-danger col-md-6" role="alert"><%=err%></div>
		<% err = '' } else {%><br>
		<%}%>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Email: <%=  user['EMAIL'] %></h3>
            </div>
            <div class="card-body">
                <form action="/updateProfile" method="post" id="userprofile">
                    <div class="input-group">
                        <label for="inputUsername" class="col-3 col-form-label">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username" value="<%=  user['USERNAME'] %>"
                            required>
                    </div><br>
                    <div class="input-group">
                        <label for="inputFName" class="col-3 col-form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First name" name="first_name" value="<%=  user['FIRST_NAME'] %>"
                            required>
                    </div><br>
                    <div class="input-group">
                        <label for="inputLName" class="col-3 col-form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last name" name="last_name" value="<%=  user['LAST_NAME'] %>"
                            required>
                    </div><br />
                    <div class="row">
                        <button type="submit" class="offset-md-5 btn btn-info">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>
            </div>
            <div class="card-body">
                <form action="/updatePassword" method="post" id="userpassword">                    
                    <div class="input-group">
                            <label for="oldPassword" class="col-4 col-form-label">Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" name="oldPassword" required>
                        </div><br>
                        <div class="input-group">
                            <label for="newPassword" class="col-4 col-form-label">New Password</label>
                            <input type="text" class="form-control" placeholder="New Password" name="newPassword" id="newPassword" required>
                        </div><br>
                        <div class="input-group">
                            <label for="confirmPassword" class="col-4 col-form-label">Confirm Password</label>
                            <input type="text" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"  required>
                        </div>
                        <br/>
                    <div class="row">
                        <button type="submit" class="offset-md-5 btn btn-info">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
var password = document.getElementById("newPassword")
  , confirm_password = document.getElementById("confirmPassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>