<div class="container col-md-6">
        <% console.log(length < 1);
        console.log(err);
        if(err || length < 1){ %>
            <br />
            <div class="alert alert-warning" role="alert">
                <p>The url you are loading is either incorrect or no longer seems to be active. Retry initialting password reset using forgot password link.</p>
                <br/><a href="/auth/forgotPassword">Forgot password</a>
            </div>
        <%} else {%>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Password Reset</h3>
                <p>Please provide new password and submit details to reset password.</p>
            </div>
            <div class="d-flex justify-content-center card-body">
                <form action="/auth/resetPassword/<%=resetToken%>" method="post" id="userpassword">
                    <div class="input-group">
                        <label for="newPassword" class="col-6 col-form-label">New Password</label>
                        <input type="password" class="form-control" placeholder="New Password" name="newPassword" id="newPassword"
                            required>
                    </div><br>
                    <div class="input-group">
                        <label for="confirmPassword" class="col-6 col-form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
                            required>
                    </div>
                    <br />
                    <div class="row">
                        <button type="submit" class="offset-md-5 btn btn-info">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
        <%}%>
    </div>
    <script>
        var password = document.getElementById("newPassword")
            , confirm_password = document.getElementById("confirmPassword");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>